# Prerequisites
*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.pyc

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db

# CMake artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Build directories
build/
out/
bin/
bin-int/